body {
    background: linear-gradient (#8B5CF6, #7C3AED);
    margin: 0;
    height: 100%;
}

.techno {
    margin-top: 5rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#soundcloud {
    display: flex;
    flex-grow: 1;
}
